@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --dark-red: #c52835;
    --white: #FFFFFF;
    --grey :#181818;
    --light-grey: #1E1E1E;
    --light-red: #EF4040;
    --darker-white: #D7DADD;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: #0E0E0E;
    font-family: 'Montserrat';
}

.container {
    width: 100%;
    margin: 0 auto;
}

/* BODY-SECTION */
.body {
    color: var(--white);
}

/*** NAV-BAR ***/


nav {
    /* border: 1px solid white; */
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.list {
    /* border: 1px solid lightblue; */
    display: flex;
    width: 75%;
    justify-content: space-around;
    margin-right: 10px;
}

.list-items {
    list-style: none;
    color: var(--darker-white);
    font-weight: 500;
    font-size: 8px;
    display: flex;
    align-items: center;
}

.down-arrow {
    width: 10px;
    margin-left: 2px;
}

.top-logo {
    width: 50px;
    filter: invert(36%) sepia(90%) saturate(3454%) hue-rotate(335deg) brightness(94%) contrast(106%); 
    padding-left: 10px;
}

/* SECTION1 */

.section1 {
    padding: 10px 0;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.section1-left {
    /* border: 1px solid red; */
}

.section1-left-img {
    width: 200px
}

.section1-right {
    /* border:  1px solid red; */
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    row-gap: 20px;
}

.section1-right-text {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.section1-right-text h3 {
    color: var(--light-red);
    font-weight: 500;
}

.section1-right-text h1 {
    color: var(--white);
    font-size: 25px;
    font-weight: 500;
}

.section1-right-text p {
    color: var(--darker-white);
    line-height: 18px;
    font-size: 15px;
}

.section1-right-button {
    width: 70px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--dark-red);
    color: #FFFFFF;
    font-weight: 300;
    font-size: 8px;
}

/* SECTION2 */

.section2 {
    /* border: 1px solid white; */
    position: relative;
    background-color: transparent;
}

.cards1 {
    /* border: 1px solid white; */
    display: flex;
}

.upper-cards {
    /* border: 1px solid lightcoral; */
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    padding: 30px 0;
}

.upper-card {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    background-color: var(--light-grey);
    justify-content: center;
    row-gap: 30px;
    padding: 30px;
}

.card-img {
    width: 50px;
}

.know-more {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-arrow {
    width: 20px;
    margin-left: 6px;
}


#card2 {
    background-color: var(--dark-red);
}

#card2 .right-arrow {
    filter: invert(100%) sepia(10%) saturate(7440%) hue-rotate(278deg) brightness(119%) contrast(99%);
}


#card1 .right-arrow, #card3 .right-arrow, #card1 .know-more-text, #card3 .know-more-text {
    filter: invert(36%) sepia(90%) saturate(3454%) hue-rotate(335deg) brightness(94%) contrast(106%); 
    color: var(--light-red);
}

.ctext {
    /* border: 1px solid white; */
    margin-bottom: 20px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ctext > .c-title {
    font-size: 25px;
    font-weight: 500;
}

.ctext > .c-content {
    font-size: 15px;
    font-weight: 300;
}

.card2 {
    /* border: 1px solid red;S */
}

.lower-cards {
    /* border: 1px solid lightcyan; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 20px;
    row-gap: 20px;
}

.left-lower {
    /* border: 1px solid red; */
    display: flex;
    height: 100%;
    width: 70%;
    justify-content: center;
    align-items: center;
}
.experience {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.right-lower {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
    gap: 10px;
}

.rl-card {
    width: 120px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grey);
    color: #D7DADD;
    row-gap: 10px;
    /* border: 1px solid whitesmoke; */
    padding: 0 10px;
}

.rl-card h2 {
    color: var(--light-red);
    font-size: 20px;
}

.rl-text {
    text-align: center;
}

/* SECTION-3 */
.section3 {
    width: 90%;
    margin: 10px auto;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid white; */
}


.s3top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.sctop-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.sctop-left h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.sctop-left p {
    font-size: 15px;
    font-weight: 300;
}

.s3top-btn {
    width: 130px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--dark-red);
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
    /* position: relative;
    bottom: 60px */
}



/* SECTION-4 */
.section4 {
    /* bordeR: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0 30PX;
}

.s4cards {
    /* border: 1px solid red; */
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    row-gap: 30px;
    height: 100%;
}

.s4card {
    /* border: 1px solid blue; */
    width: 100%;
    /* height: 380px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    row-gap: 10px;
}

.s4right-arrow {
    width: 20px;
}

.s4card-img {
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
}

.s4img {
    width: 80%;
}

#s4text {
    font-size: 12px;
}

.s4card-text {
    padding-left: 35px;
}

.s4right-arrow {
    width: 20px;
    margin-left: 6px;
    filter: invert(36%) sepia(90%) saturate(3454%) hue-rotate(335deg) brightness(94%) contrast(106%); 
}


/* SECTION-5 */
.section5 {
    display: flex;
    width: 100%;
    height: 150px;
    flex-direction: column;
    /* border: 1px solid red;; */
}

.s5bg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--light-grey);
    height: 100%;
}

.s5left {
    margin-left: 10px;
}

.s5heading {
    font-size: 18px;
    font-weight: 500;
}

.s5text {
    font-size: 12px;
    font-weight: 400;
}

.s5btn {
    width: 80px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--dark-red);
    color: #FFFFFF;
    font-weight: 400;
    font-size: 10px;
    margin-right: 10px;
}

/* SECTION-6 */
.section6 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
    padding-bottom: 30px;

}

.s6-list {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.s6-list-items {
    list-style: none;
    font-size: 10px;
}


/* FOOTER */
.footer {
    position: relative;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--grey);
}

.footer-logo {
    filter: invert(36%) sepia(90%) saturate(3454%) hue-rotate(335deg) brightness(94%) contrast(106%); 
    width: 70px;
    /* position: relative; */
    /* right: 40px; */
}

.social {
    /* position: relative; */
    width: 150px;
    display: flex;
    justify-content: space-around;
    /* right: 310px; */
}

.social-icon {
    width: 20px;
    filter: invert(1)
}

#social1 {
    width: 10px;
}